body {
  background: gray;
}

.clickDiv {
  background: white;
  width: 100px;
  height: 100px;
}

.theDiv {
  background: orange;
  width: 300px;
  height: 300px;
}

.clickDiv1 {
  background: white;
  width: 100px;
  height: 100px;
}

.clickDiv2 {
  background: rgb(158, 29, 29);
  width: 100px;
  height: 100px;
}

.clickDiv3 {
  background: rgb(61, 134, 31);
  width: 100px;
  height: 100px;
}

.clickDiv4 {
  background: rgb(190, 30, 129);
  width: 100px;
  height: 100px;
}

.display {
  background: black;
  border: 2px silver;
  width: 400px;
  height: 60px;
  color: green;
  padding: 10px;
}

.Counter1 {
    div.theDiv {
        background: black;
    }
    background: #f5f5f5;
}
